

nav{
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display:flex;
    align-items: center;

}
.logo {

    flex-basis: 25%;
    position: left;
    margin:0 -170px;
    

}
.logo img{

    width: 90%;
    
}

.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
   list-style: none;
   display: inline-block;
   margin:0 10px;
   
   
}

.nav-links ul li a{
    color: rgb(240, 168, 13);
    text-decoration: none;
    font-weight: 500px;

}
nav:hover ul li a{
    color: rgb(240, 168, 13);
}
    

/*aboutus*/
.about-section{
    background:linear-gradient(to right, rgb(255, 174, 0), #e7e42e);
    background-size:100%;
    background-color: #ffffff;
    overflow: hidden;
    padding:50px 0;

}
.inner-container{
    width:65%;
    float: 50%;
    background-color: #ffffff;
    padding: 50px;
    position:center;
    align-items: center;
    justify-content:center
}

.inner-container h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #000;
    line-height: 30px;
    text-align:justify;
    margin-bottom: 70px;
    align-items: center;
    justify-content:center

}


/*footer*/

ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
    width: 10%;
    border: 5px;
    padding: 10px
  }
  
  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }
  
  a {
    color: rgb(240, 168, 13);;
    text-decoration: none;
    box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  }
  
  a:hover {
    box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
  }
  
  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  li:hover ~ li p {
    animation: wave-animation 0.3s infinite;
  }
  .footer{
    display: flex;
    line-height: 1.3;
    font-family: sans-serif;
    
  
    

  @keyframes wave-animation {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(20deg);
    }
    75% {
      transform: rotate(-15deg);
    }
  }
}